<div class="ui grid">

    <div class="four wide column" *ngFor="let repo of repos">
        <div class="ui card">

            <div class="content">
                <div class="header"><a routerLink="repo/{{repo.id}}">{{repo.full_name}}</a></div>
                <div class="meta">{{repo.updated_at}}</div>
                <div class="description">
                    <p>desc</p>
                </div>
            </div>
            <div class="extra content">
                <i class="idea icon"></i> {{repo.open_issues_count}} Issues
            </div>
        </div>
    </div>
</div>